fastapi
uvicorn
sqlalchemy
alembic
pydantic==2.9.2
pydantic-settings
passlib[argon2]
python-jose[cryptography]
python-multipart
pytest
pytest-asyncio
httpx
aiosqlite
openpyxl

fpdf2
pyyaml
greenlet
asyncpg
python-dateutil
